<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/2.0.0/browserfs.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="./js/angular.min.js"></script>

    <style>
        @import url('./css/main.css');
        @import url('./css/util.css');
    </style>
</head>

<body>
    <div class="limiter" ng-app="login-register">
        <div class="container-login100" ng-controller="loginregister">
            <div class="wrap-login100">
                <form id="login-form" class="login100-form validate-form" ng-controller="login">
                    <span class="login100-form-title p-b-43">
						ĐĂNG NHẬP 
					</span>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email" ng-model="username" >
                        <i ng-if="usernameNull"><small class="text-danger ml-2">Vui lòng nhập tên đăng nhập</small></i>
                        <span class="focus-input100"></span>
                        <span class="label-input100" ng-if="username ==''">Tên đăng nhập</span>
                        
                    </div>


                    <div class="wrap-input100 validate-input mt-5" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" ng-model="password" >
                        <i ng-if="passwordNull"><small class="text-danger ml-2">Vui lòng nhập mật khẩu</small></i>
                        <span class="focus-input100"></span>
                        <span class="label-input100" ng-if="password ==''">Mật khẩu</span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32 mt-5">
                        <div>
                            <a href="#" class="txt1">
								Bạn quên mật khẩu?
							</a>
                        </div>
                    </div>


                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="button" ng-click="login()">
							Đăng nhập
						</button>
                    </div>

                    <div class="text-center p-t-46 p-b-20" id="showRegister">
                        <span class="txt2" id='showRegister'>
							Bạn chưa có tài khoản? <a href="javascript:void(0)">Đăng ký ngay</a>
						</span>
                    </div>
                </form>

                <form  id="register-form" style="display:none" class="login100-form validate-form">
                    <span class="login100-form-title p-b-43">
						ĐĂNG KÝ
                    </span>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Họ Tên</span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Mật khẩu</span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Nhập lại mật khẩu</span>
                    </div>


                    <div class="container-login100-form-btn" ng-click='register()'>
                        <button class="login100-form-btn" type="button" >
							Đăng Ký
						</button>
                    </div>

                    <div class="text-center p-t-46 p-b-20">
                        <span class="txt2" id="showLogin">
							Bạn đã có tài khoản? <a href="javascript:void(0)">Đăng nhập ngay</a>
						</span>
                    </div>
                </form>
                <div class="login100-more" style="background-image: url('image/web-design-2038872_1920.jpg');">
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#showRegister").click(function() {
            $("#login-form").hide(1000);
            $("#register-form").show(1000);
        })
        $("#showLogin").click(function() {
            $("#login-form").show(1000);
            $("#register-form").hide(1000);
        })

    </script>
    <script src="./js/login.js" ></script>
</body>

</html>